#App
APP_NAME=Clinic Management System
APP_ENV=development
DEBUG=true

#Database
DATABASE_URL=mysql+pymysql://root:yourpassword@localhost:3306/clinic_db

#JWT
JWT_SECRET_KEY=change-this-secret-key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30

TEMPLATES_DIR=app/templates
STATIC_DIR=app/static
